#masterForm .navbar.navbar-expand-lg.bg-body-tertiary{
    padding: 8px 300px !important;
}

.divTotal 
{
    position: fixed;
    bottom: 20px;
}

.divTotal #LabelPrecio {
        display: inline;
        font-size: 35px;
        font-weight:bold;
}
.divTotal h3 {
        display: inline;
}

.detalleContainer {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.detalleContainer #carouselExample.carousel.slide {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    border-radius: 20px;
    display:flex;
    align-items: center;
}

.detalleContainer #carouselExample.carousel.slide img {
    max-width: 500px;
    max-height: 500px;
    width: auto;
    height: auto;
    padding: 10px;
}

.detalleContainer #carouselExample.carousel.slide button:hover{
    color: red;
    background-color: #b4b4cd !important;
    opacity: 50%;
}

.detalleContainer #carouselExample.carousel.slide button.carousel-control-prev:hover {
    border-radius: 20px 0 0 20px;
}
.detalleContainer #carouselExample.carousel.slide button.carousel-control-next:hover {
    border-radius: 0 20px 20px 0;
}

.secondaryButton {
    background-color: #fff;
    color: #0a58ca;
    border: 1px solid #0a58ca;
}
.secondaryButton:hover {
    opacity: 50%;
}